<div>List of Users Approved as Professors </div>
<div>
  <table class="table">
    <thead>
      <tr>
      <th>User</th>
      <th>Name</th>
      <th>School</th>
      <th>Details</th>
      <th>Revoke Approval<th>
      </tr>
    </thead>
    <tbody id="user_cred_table">
      <% @user_creds.each do |user_cred| %>
      <tr> 
        <td> <%= user_cred.user.username%> 
        <td> <%= user_cred.name %>
        <td> <%= user_cred.school%>
        <td> <%= user_cred.details %>
        <td>
        <%= button_to "Revoke Access", user_cred_path(user_cred), method: :delete, class: "btn btn-danger" %> 
        </td>
      </tr>
      <% end%>
    </tbody>
  </table>

  <%= link_to "Back to profile", user_path(current_user), class: "btn btn-secondary" %> <br>
</div>
