<%= form_with(model: [@post, @reply]) do |form| %>
  <% if reply.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(reply.errors.count, "error") %> prohibited this reply from being saved:</h2>

      <ul>
        <% reply.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%if @post%>
    <%=render @post%>
    <%= form.hidden_field :post_id, value: @post.id %>
  <%else%>
    <%=render @reply.post%>
    <%= form.hidden_field :post_id, value: @reply.post_id %>
  <%end%>
  <div>
    <%= form.label :text, style: "display: block" %>
    <%= form.text_field :text %>
  </div>
  <%if @reply.user_id.nil?%> 
    <div>
      <%= form.label :user_id, style: "display: block" %>
      <%= form.text_field :user_id %>
    </div>
  <%else%>
    <%= form.hidden_field :user_id, value: @reply.user_id %>
  <%end%>

  <%= form.hidden_field :votes, value: 0 %>
  <%= form.hidden_field :parent_reply_id, value: @parent_reply&.id %>
  <div>
    <%= form.submit %>
  </div>
<% end %>
