<div id="<%= dom_id reply %>" class="mb-4">
  <div class="card">
    <div class="card-body">
      <% if reply.user.approved? %>
        <%= render Tag.approved %>
      <% end %>
      <% if reply.solution %>
        <div class= "badge badge-pill custom-badge-color text-success"> Post Solution </div>
      <% end %>
      <p class="card-text"><%= reply.text %></p>
      <p class="card-footer text-muted">
        Replied by <%= reply.user&.username || "Unknown user" %> on <%= reply.created_at.strftime("%B %d, %Y") %>
      </p>
      <div class="d-flex justify-content-between align-items-center mt-3">
        <div>
          <p class="mb-0">Votes: <%= reply.votes.up.count - reply.votes.down.count %></p>
          <div class="d-flex align-items-center">
            <% current_vote = reply.votes.find_by(user: current_user) %>
            
            <%= button_to "Upvote",
                          post_reply_votes_path(reply.post, reply, vote: { vote_type: :up }),
                          method: :post,
                          class: "btn #{current_vote&.vote_type == 'up' ? 'btn-primary' : 'btn-outline-primary'} btn-sm mr-2" %>

            <%= button_to "Downvote",
                          post_reply_votes_path(reply.post, reply, vote: { vote_type: :down }),
                          method: :post,
                          class: "btn #{current_vote&.vote_type == 'down' ? 'btn-danger' : 'btn-outline-danger'} btn-sm" %>
          </div>
        </div>

        <% if reply.check_user_authorized(current_user) %>
          <div class="button-row text-center mt-4">
            <% if current_user == reply.post.user %>
              <% if reply.solution %>
                <%= button_to "Remove Reply as Solution", unsolve_reply_path(reply), method: :put, class: "btn btn-warning btn-sm mr-2" %>
              <% else %>
                <%= button_to "Mark Reply as Solution", solve_reply_path(reply), method: :put, class: "btn btn-warning btn-sm mr-2" %>
              <% end %>
            <% end %>
            <turbo-frame id="reply_edit_<%= reply.id %>" class="d-inline-block">
              <%= link_to "Edit this reply", edit_reply_path(reply), class: "btn btn-warning btn-sm mr-2", title: "Edit your reply" %>
            </turbo-frame>
            <turbo-frame id="delete_reply_<%= reply.id %>">
              <%= button_to "Destroy this reply", reply, method: :delete, class: "btn btn-danger btn-sm", data: { confirm: "Are you sure you want to delete this reply?" }, title: "Delete this reply" %>
            </turbo-frame>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
