<div id="<%= dom_id reply %>" class="mb-4">
  <div class="card">
    <div class="card-body">
      <p class="card-text"><%= reply.text %></p>
      <p class="card-footer text-muted">
        Replied by <%= reply.user.username %> on <%= reply.created_at.strftime("%B %d, %Y") %>
      </p>
      <div class="d-flex justify-content-between align-items-center">
        <p class="mb-0">Upvotes: <%= reply.votes %></p>
      </div>
    </div>
  </div>
</div>
