<div id="<%= dom_id user %>" class="container mt-5">
  <h2>User Details</h2>
  
  <div class="row mb-3">
    <div class="col-md-4">
      <strong>Firstname:</strong>
    </div>
    <div class="col-md-8">
      <%= user.firstname %>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-md-4">
      <strong>Lastname:</strong>
    </div>
    <div class="col-md-8">
      <%= user.lastname %>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-md-4">
      <strong>Username:</strong>
    </div>
    <div class="col-md-8">
      <%= user.username %>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-md-4">
      <strong>Email:</strong>
    </div>
    <div class="col-md-8">
      <%= user.email %>
    </div>
  </div>
</div>
