<h1 class="text-center mb-4">Edit Profile</h1>

<%= form_with model: @user, local: true, class: "needs-validation" do |form| %>
    <% if @user.errors.any? %>
      <div class="alert alert-danger">
      <h4><%= pluralize(@user.errors.count, "error") %> prohibited this post from being saved:</h4>
        <ul>
          <% @user.errors.each do |error| %>
            <li><%= error.full_message %></li>
            <% end %>
        </ul>
      </div>
    <% end %>
  <div class="mb-3">
    <%= form.label :firstname, class: "form-label" %>
    <%= form.text_field :firstname, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :lastname, class: "form-label" %>
    <%= form.text_field :lastname, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :username, class: "form-label" %>
    <%= form.text_field :username, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :email, class: "form-label" %>
    <%= form.email_field :email, class: "form-control" %>
  </div>

  <div class="text-center">
    <%= form.submit 'Update Profile', class: "btn btn-primary" %>
  </div>
<% end %>
