<p style="color: green"><%= notice %></p>


<p>
<strong>Name:</strong>
<%= @tag.name %>
</p>

<p>
<strong>Description</strong>
<%= @tag.description%>
</p>


<div>
  <%= link_to "Edit this tag", edit_tag_path(@tag) %> |
  <%= link_to "Back to tags", tags_path %>

  <%= button_to "Destroy this tag", @tag, method: :delete %>

  <br>
  <div> Posts associated with this tag: <div>

  <br>
  <div id="posts" class="row">  <% @tag.posts.each do |post| %>
    <div class="col-md-4 mb-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><%= post.title %></h5>
          <p class="card-text"><%= post.text.truncate(100) %></p>
          <% if !post.tags.nil? %>
          <% post.tags.each do |tag| %>
            <%= render partial: tag %>  
          <% end %>         
          <br>
          <% end %> 
          <%= link_to "View this post", post, class: "btn btn-primary" %>

        </div>
      </div>
    </div>
  <% end %>
</div>
</div>
