<p style="color: green"><%= notice %></p>


<p>
<strong>Name:</strong>
<%= @tag.name %>
</p>

<p>
<strong>Description</strong>
<%= @tag.description%>
</p>


<div class="button-row mb-4 d-flex justify-content-between align-items-center">
  <% if !current_user.nil? && (current_user.admin?)%>
    <div class="d-inline-block">
      <%= link_to "Edit this tag", edit_tag_path(@tag), class: "btn btn-warning"%>
    </div>
  <% end %>
  <%= link_to "Back to tags", tags_path, class: "btn btn-secondary" %>
  <% if !current_user.nil? && (current_user.admin?) %>
    <%= button_to "Destroy this tag", @tag, method: :delete, class: "btn btn-danger", data: { confirm: "Are you sure you want to delete this tag?" } %>
  <% end %>
</div>
<div>
  <br>
  <div><strong> Posts associated with this tag: </strong><div>

  <br>
  <div id="posts" class="row">  <% @tag.posts.each do |post| %>
    <%= render partial: "post_preview", locals: {post: post} %>
  <% end %>
</div>
</div>
