<p style="color: green"><%= notice %></p>


<p>
<strong>Name:</strong>
<%= @tag.name %>
</p>

<p>
<strong>Description</strong>
<%= @tag.description%>
</p>


<div>
  <%= link_to "Edit this tag", edit_tag_path(@tag) %> |
  <%= link_to "Back to tags", tags_path %>

  <%= button_to "Destroy this tag", @tag, method: :delete %>

  <br>
  <div> Posts associated with this tag: <div>

  <br>
  <div id="posts" class="row">  <% @tag.posts.each do |post| %>
    <%= render partial: "post_preview", locals: {post: post} %>
  <% end %>
</div>
</div>
