<% if notice %>
  <div class="alert alert-success" role="alert">
    <%= notice %>
  </div>
<% end %>

<% content_for :title, "Posts" %>

<h1 class="text-center my-4">Posts</h1>

<%= form_with url: "/posts", method: :get, class: "mb-4" do |form| %>
  <div class="form-group">
    <%= form.label :query, "Search for:", class: "form-label" %>
    <%= form.text_field :query, class: "form-control", placeholder: "Enter search terms" %>
  </div>

  <div class="form-group">
    <%= form.label :tag_ids, "Select Tags:", class: "form-label" %>
    <button type="button" class="btn btn-secondary" data-bs-toggle="collapse" data-bs-target="#tagSelector" aria-expanded="false" aria-controls="tagSelector">
      Toggle Tag Selection
    </button>

    <div class="collapse" id="tagSelector">
      <div class="mt-2 d-flex flex-wrap">
        <% Tag.all.each do |tag| %>
          <div class="form-check me-2 mb-2">
            <%= check_box_tag "tag_ids[]", tag.id, false, class: "form-check-input", id: "tag_#{tag.id}" %>
            <%= label_tag "tag_#{tag.id}", tag.name, class: "form-check-label" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= form.submit "Search Posts", class: "btn btn-primary" %>
  </div>
<% end %>




<div id="posts" class="row">
  <% @posts.each do |post| %>
    <%= render partial: "post_preview", locals: {post: post}%>
  <% end %>
</div>

<div class="text-center mt-4">
  <%= link_to "New post", new_post_path, class: "btn btn-success" %>
</div>
