<% if notice %>
  <div class="alert alert-success" role="alert">
    <%= notice %>
  </div>
<% end %>

<% content_for :title, "Posts" %>

<h1 class="text-center my-4">Posts</h1>

<div id="posts" class="row">
  <% @posts.each do |post| %>
    <div class="col-md-4 mb-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><%= post.title %></h5>
          <p class="card-text"><%= post.text.truncate(100) %></p>
          <% if !post.tag.nil? && post.tag.name!="" %> <div class= "badge badge-pill badge-info"> <%=  post.tag.name %> </div><br> <br><% end %>
          <%= link_to "View this post", post, class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="text-center mt-4">
  <%= link_to "New post", new_post_path, class: "btn btn-success" %>
</div>
